apache-airflow==2.7.1
apache-airflow-providers-cncf-kubernetes==5.0.0
apache-airflow-providers-google
apache-airflow-providers-ssh==3.3.0
google-api-python-client==1.12.11
google-api-core==2.8.1
protobuf==3.20.0
redshift_connector==2.0.910
oracledb==1.2.2
