apache-airflow==2.8.0
apache-airflow-providers-cncf-kubernetes==7.3.0
apache-airflow-providers-google==10.9.0
apache-airflow-providers-ssh==3.3.0
google-api-python-client==2.99.0
google-api-core==2.11.1
protobuf==4.23.4
redshift_connector==2.0.910
oracledb==1.2.2
configparser
