# Order is important; the last matching pattern takes the most
# precedence.

# The main branch in this repo is protected and requires reviews
# from code owners. This means that any pull request
# which affects code with a code owner must be approved
# by that code owner before the pull request can be merged
# into the protected branch.

# Pull requests which modify any of the following
# file types must be approved by one of the listed owner(s):
*       @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.py    @abcubed3 @danieldeleo @dmedora @latika-wadhwa @pcigoor @raniksingh @zhaber
*.tf    @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.yaml  @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber
*.md    @abcubed3 @danieldeleo @dmedora @pcigoor @raniksingh @zhaber